{% extends "layout.html" %}

{% block title %}
    Block/unblock users
{% endblock %}

{% block body %}

<h2 style="text-align: center; color: blue;">List of active users:</h2>
<center>

<table>
    <tr>
        <th>Username</th>
        <th>Country</th>
        <th>Status</th>
        <th>Registration Date</th>
        <th></th>
    </tr>
{% for user in users %}
<tr>
    <td>{{ user[1] }}</td>
    <td>{{ user[2] }}</td>
    <td>{{ user[3] }}</td>
    <td>{{ user[4] }}</td>
    {% if user[3] == "blocked" %}
    <td>
        <button class="btn btn-primary" type="button" name="approve_btn" id = {{ user[0] }} onclick='check("{{ user[1] }}", "{{ user[0] }}", true)'>Unblock</button>
    </td>
    {% else %}
    <td>
        <button class="btn btn-danger" type="button" name="block_btn" id = {{ user[0] }} onclick='check("{{ user[1] }}", "{{ user[0] }}", false)'>Block</button>
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>   

</center>
<form id="blockForm" action="/block" method="post" >
    <input name="action" type="hidden" value="">
    <input name="reason" type="hidden" value="">
    <input name="user_id" type="hidden" value="">
</form>
<div>
    <form action="/cabinet" method="get" style="text-align: center;">
        <button type="submit" class="btn btn-primary">Back</button>
    </form>
</div>



<script>
    function check(username, id, approved) {
        var form = document.getElementById("blockForm");
            if (form != null) {
                var idField = document.querySelector('input[name="user_id"][type="hidden"]');
                var actionField = document.querySelector('input[name="action"][type="hidden"]');
                var reasonField = document.querySelector('input[name="reason"][type="hidden"]')
                var text = "Are you sure to block the user: " + username;
                var action = "blocked"
                idField.setAttribute("value", id);
                if(approved == true) {
                    action = "activated"
                    text = "Are you sure to unblock the user: " + username;
                    if (confirm(text) == true) {
                        actionField.setAttribute("value", action);
                        form.submit();
                    }            
                }
                else {
                    let reason = prompt("Please enter a reason for blocking the user");
                    if (reason == "") {
                        alert("Reason should not be empty");
                        exit;
                    }    
                    
                    if (reason != null) {  //Cancel pressed
                        actionField.setAttribute("value", action);
                        reasonField.setAttribute("value", reason)
                        form.submit();
                    }    
                }
            }        
    }
</script>
{% endblock %}