{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}

<div>
    <div class="vertcenter">
        <form action="/login" method="get" style="text-align: center; padding: 5%;">
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        <form action="/register" method="get" style="text-align: center; padding-top: 20%; padding-left: 0%;">
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
