{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

    <div class="vertcenter">
        <h2 style="text-align: center;">Change Password:</h2>
        <form action="/passwordchange" method="post" style="text-align: center;">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="oldPass" placeholder="Enter password" type="password">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password" type="password">
            </div>
            <div class="form-group">
                <input  autocomplete="off" autofocus class="form-control" name="confirmPass" placeholder="Confirm password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit changes</button>
        </form>
        <div>
            <form id="nothing" action="/cabinet" method="get" style="text-align: center;">
                <button class="btn btn-primary" type="submit">Back</button>
            </form>
        </div>
        
    </div>

{% endblock %}