{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

    <div class="vertcenter">
        <h2 style="text-align: center;">Change Password:</h2>
        <form name="fmPasswordChange" action="/passwordchange" onsubmit="return validate()" method="post" style="text-align: center;">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="oldPass" placeholder="Enter password" type="password" oninput="clearErrorMessage()">
                <label id="passError" style="color: red; display: none; "></label>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password" type="password" oninput="clearErrorMessage()">
                <input autocomplete="off" autofocus class="form-control" name="confirmPass" placeholder="Confirm password" type="password" oninput="clearErrorMessage()">
                <label id="nameError" style="color: red; display: none; "></label>
            </div>
            <button class="btn btn-primary" type="submit">Submit changes</button>
        </form>
        <div>
            <form id="nothing" action="/cabinet" method="get" style="text-align: center;">
                <button class="btn btn-primary" type="submit">Back</button>
            </form>
        </div>
    </div>
    <script type="text/javascript"> 
        function validate() {            
            let oldPass = document.forms["fmPasswordChange"]["oldPass"].value;
            let pass = document.forms["fmPasswordChange"]["password"].value;
            let confirm = document.forms["fmPasswordChange"]["confirmPass"].value;
            var passwordMessage = document.getElementById("nameError");
            var oldPassMessage = document.getElementById("passError");            

            if (oldPass === null || oldPass.trim() === "") {
                oldPassMessage.textContent = "Password cannot be empty";
                oldPassMessage.style.display = "block"; // Make the error message visible
                return false;
            }
            if (!pass || !confirm) {
                passwordMessage.textContent = "Password cannot be empty";
                passwordMessage.style.display = "block"; // Make the error message visible
                return false;
            }
            if (pass !== confirm) {
                passwordMessage.textContent = "Passwords are now equal";
                passwordMessage.style.display = "block"; // Make the error message visible
                return false;
            }
            if (pass.length < 8) {
                passwordMessage.textContent = "Password must be at least 8 characters long";
                passwordMessage.style.display = "block"; // Make the error message visible
                return false;
            }

            return true;
        }

        function clearErrorMessage() {
            var errorMessage = document.getElementById("nameError");
            errorMessage.style.display = "none"; // Hide the error message
            var errorMessage = document.getElementById("passError");
            errorMessage.style.display = "none"; 
        }
    </script>

{% endblock %}