{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <input autocomplete="off" autofocus class="form-control" name="country" placeholder="Country" type="text">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
            <input autocomplete="off" class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <center>
        <button class="btn btn-primary" style="text-align: center;" type="submit">Register</button>
        </center>
    </form>
{% endblock %}
