{% extends "layout.html" %}

{% block title %}
    Edit types
{% endblock %}

{% block body %}

<div class="container">
<form id="changeTheTypeForm" action="/changeTheType" method="post" >
    <input type="hidden" name="type_name" value="" >
    <input type="hidden" name="type_id" value="" >
    <input type="hidden" name="type_action" value="nothing" >
</form>
<center>
<table class="GeneratedTable" style="margin-top: 10%;">
    <thead> <tr> <th><center>Types</center></th></tr> </thead>
    <tbody>
        {% for type in types %}
        <tr>
            <td><input autocomplete="off" autofocus class="form-control" name="rename{{ type[0] }}" id="{{ type[0] }}" value="{{ type[1] }}" type="text" readonly></td>
            <td><button class="btn btn-primary" type="button" name="rename_button" id="{{ type[0] }}" onclick='doUpdateType("rename{{ type[0] }}")'>Rename</button></td>
            <td><button class="btn btn-danger" type="button" name="delete_button" id="{{ type[0] }}" onclick='doDeleteType("rename{{ type[0] }}")'>Delete</button></td>    
        </tr>
        {% endfor %}
    <tr>
        <td><button class="btn btn-primary" type="button" onclick='doInsertType()'>Add</button></td>
        <td><form id="nothing" action="/" method="get">
                <button class="btn btn-primary" type="submit">Back</button>
            </form>
        </td>
    </tr>
</tbody></table>
</center>
</div>

<!-- ******************************* -->
<script>
    function doUpdateType(fieldName) {
        var inputField = document.querySelector('input[name="' + fieldName + '"]');
        var button = document.querySelector('button[name="rename_button"][id="' + inputField.id + '"]');
        
        if(button.innerHTML == "Rename") {
            inputField.removeAttribute('readonly');
            button.innerHTML = "Save";
        } else if(button.innerHTML == "Save") {
            execSQL("update", inputField.id, inputField.value);
        }
    }

    function doDeleteType(fieldName) {
        var inputField = document.querySelector('input[name="' + fieldName + '"]');
        var text = "Are you sure to delete type:\n" + inputField.value;
        if (confirm(text) == true) {
            inputField.style = "text-decoration: line-through;"
            execSQL("delete", inputField.id, "");
        }
    }

    function doInsertType() {
        let newType = prompt("Enter new Type")
        if (newType == null){
            return;
        }
        if (newType.trim() === "") {
            alert("You must enter a value.");
        } else {
            execSQL("insert", "", newType);
        }
    }

    function execSQL(action, id, name) {
        var form = document.getElementById("changeTheTypeForm");
            if (form != null) {
                var idField = document.querySelector('input[name="type_id"][type="hidden"]');
                var nameField = document.querySelector('input[name="type_name"][type="hidden"]');
                var actionField = document.querySelector('input[name="type_action"][type="hidden"]');
                
                idField.setAttribute("value", id);
                nameField.setAttribute("value", name);
                actionField.setAttribute("value", action);
                form.submit();
            }        
    }
</script>
{% endblock %}